        @import "./variables";
        @import "./header";
        @import "./Footer";
        @import "./commons";
        @import "./Banner";
        @import "./FeaturedProducts";
        @import "./LatestProducts";
        @import "./TrendigProducts";
        @import "./product";
        .colors {
            div {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                opacity: 0.5;
                margin-right: 7px;
                &:nth-child(1) {
                    opacity: 1;
                    background-color: #DE9034;
                }
                &:nth-child(2) {
                    opacity: 1;
                    background-color: $pink;
                }
                &:nth-child(3) {
                    opacity: 1;
                    background-color: #8568FF;
                }
                &:hover {
                    transform: scale(1.1);
                    opacity: 1;
                }
            }
        }